<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who We are</title>
    {{> links}}
</head>
<style>
  
</style>
<body>
    <div class="bg-main" style="background-image: url(https://i.ibb.co/Kqwfmx7/Group-11679.png);">
    {{>nav}}
     <div class="container-fluid py-5">
  {{> headertop}}
            <div class="sec-title-style1 text-center max-width">
                <div class="title txt-res" style="font-size: 50px;">WHO WE ARE</div>
                <div class="text"><div class="decor-left"><span></span></div><p>About us</p><div class="decor-right"><span></span></div></div>
                
            </div>
</div>
  <div class="container d-flex justify-content-between">
      <div class="row">
          <div class="col-md-6 col-12">
              <h2>Short Story About Our Company</h2>
              <hr>
              <p style="text-align: left;"><span style="color: #6A4BC4; font-size: 1.6rem;">CODE-BIRDS</span> is an IT Company that works in different fields of software. This Company is created to contribute to IT development in the world. TechIn Solution is doing work in the software industry in Website Development, Designing, Mobile Application Development, Desktop Application, Customized Logo, Graphic Designing, Enterprise Solution, Business Solution, HR Management, Payroll Management, Inventory Management & School Management. In Hardware we are doing work on Electronic Circuits, PLCs, Micro Controllers, Home Automation, Electronic Gadgets & Polymers Research. In addition, we are doing work in some AI fields like Voice Recognition, Image Recognition(OCR’s), Gaming & Recommendation Systems. We feel proud to serve our nation and the whole world as an IT Expert.</p>
          </div>
          <div class="col-md-6 col-12">
              <img src="https://i.ibb.co/9vY2Lfz/4.gif">
          </div>
      </div>
  </div>
  </div>
    {{> team}}
    {{> footer}}
</body>
</html>