<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>   
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
<title>Services</title>

</head>
<style>
    *{
    font-family: 'Roboto', sans-serif;
  }
     
.nav-link{
    color: black;
  }
  .navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}
/* SERVICES */
.services {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  text-align: center;
}

.services .service .icon img {
  max-width: 100px;
}

.services .service {
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.services .service h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 20px;
  color: var(--secondary-color);
}

.services .service p {
  line-height: normal;
  font-size: 1.1rem;
  margin: 10px 0;
}

.extra-div
{
 background-color: #fff;
 border: medium none;
 border-radius: 30px;
 padding:50px!important;
 transition: 0.3s;
 box-shadow: 0 0 25px 0 rgb(0, 0, 0,0.3);
 margin-top: 30px;
 }
 .extra-div:hover{
     background-color:#BC58BE;
 }
  #str {
   padding: 10px;
   font-family: sans-serif;
   font-size: 40px;
   color: black;
   font-weight: bold;
   
}
p span {
/*   background-color: orange; */
  opacity: 0;
  display: inline-block;
  vertical-align: top;
  line-height: 300px;
/*   padding-top: 150px; */
  animation: zips 1s cubic-bezier(0.45, 0.05, 0.42, 0.96);
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;
}

p span:nth-child(1) {
/*   background: #ff0000; */
  animation-delay: 0s;
}

p span:nth-child(2) {
/*   background: #ff0000; */
  animation-delay: .2s;
}

p span:nth-child(3) {
/*   background: #ff0000; */
  animation-delay: .3s;
/*   padding-top: 200px; */
}

p span:last-child {
  display: inline;
  animation-delay: .3s;
  line-height: 400px;
}


@keyframes zips {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.3;
  }
  85% {
    opacity: 1;
  }
  100% {
    line-height: 25px;
    opacity: 1;
  }
}

@media screen and ( max-width: 1024px ) {
img.responsive { width: 350px; }
}

@media screen and ( min-width: 600px ) {
img.responsive { width: 600px; }
}
img.responsive { height: auto; }

@media screen and ( max-width: 1024px ) {
img.mainresponsive{ width: 370px; }
}

@media screen and ( min-width: 600px ) {
img.mainresponsive { width: 1550px; }
}
img.mainresponsive { height: auto; }

.bg-main{
  background-image: url(https://i.ibb.co/Kqwfmx7/Group-11679.png);
}
</style>
<body> 
<div class="bg-main">  
{{> nav}}


<div class="container-fluid py-5">
  {{> headertop}}
            <div class="sec-title-style1 text-center max-width">
                <div class="title txt-res" style="font-size: 50px;">WHAT WE OFFER</div>
                <div class="text"><div class="decor-left"><span></span></div><p>Services</p><div class="decor-right"><span></span></div></div>
                
            </div>
</div>
<div class="container" style="">
    <div class="row ">
        <div class="col-md-6 col-12 mt-5" style="text-align: center;">
            <div class="container">
           <div id="str" style="font-family: 'Roboto', sans-serif;"></div>
            <p>
  <span>
  Letting the work speak for itself isn’t a cliche. It’s a testament to the passion and talent behind everything we do. It means we stand behind our work with research and experience from actual problems we’ve defined, measured, and solved. Therefore, no decision, from strategy and development to design and user experience, is made lightly, and you’ll always see it in the work.Explore how we can push what’s possible together.
  </span>
</p>
        </div>
        </div>
         <div class="col-md-6 col-12 ">
           <img class="responsive" src="https://i.ibb.co/NFwDKmd/2.gif">
        </div>
    </div>
</div>
</div>
<section id="services">
      <div class="services container">
        <h2 style="text-align: center; font-weight: 600;">Services <span style="color: blueviolet; font-size: 3.2rem;">We</span>  Offer</h2>
        <div class="row">
          <div class="col-md-4 col-12">
        <div class="service">
          <div class="icon">
            <img
              src="https://github.com/bradtraversy/creative-agency-website/blob/master/images/001.png?raw=true"
              alt=""
            />
          </div>
          <h3>Graphic Design</h3>
          <p>
            Creative and Latest Fashioner Designing to Logo, Stationary, Product Box etc.
          </p>
        </div>
        </div>
       <div class="col-md-4 col-12">
        <div class="service">
          <div class="icon">
            <img
              src="https://github.com/bradtraversy/creative-agency-website/blob/master/images/002.png?raw=true"
              alt=""
            />
          </div>
          <h3>WEB DEVELOPMENT</h3>
          <p>
            Your brand is as good as it looks online – so we’ll make it pop till they beg us to stop.
          </p>
        </div>
        </div>
        <div class="col-md-4 col-12">
        <div class="service">
          <div class="icon">
            <img
              src="https://github.com/bradtraversy/creative-agency-website/blob/master/images/003.png?raw=true"
              alt=""
            />
          </div>
          <h3>SEO</h3>
          <p>
            Its time to rank your website and convert them into leads,traffic and even sales..
          </p>
        </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-12">
        <div class="service">
          <div class="icon">
            <img
              src="https://github.com/bradtraversy/creative-agency-website/blob/master/images/004.png?raw=true"
              alt=""
            />
          </div>
          <h3>DIGITAL MARKTING</h3>
          <p>
            Your Digital Strategy is so much more than a mere plan – it’s your voice, make sure it’s loud.
          </p>
        </div>
        </div>
       <div class="col-md-4 col-12">
        <div class="service">
          <div class="icon">
            <img
              src="https://github.com/bradtraversy/creative-agency-website/blob/master/images/005.png?raw=true"
              alt=""
            />
          </div>
          <h3>APP DEVELOPMENT</h3>
          <p>
            Imagine a new world – an alternate reality. We’ll work together to bring it to lif
          </p>
        </div>
        </div>
        <div class="col-md-4 col-12">
        <div class="service">
          <div class="icon">
            <img
              src="https://github.com/bradtraversy/creative-agency-website/blob/master/images/006.png?raw=true"
              alt=""
            />
          </div>
          <h3>BRAND IDENTITY</h3>
          <p>
           Any brand without an identity is a bird without wings, come to us and we’ll help you fly.
          </p>
        </div>
        </div>
        </div>
      </div>
    </section>
    
{{> footer}}

</body>
<script>
  var string = "CODEBIRDS MISSION";
var str = string.split("");
var el = document.getElementById('str');
(function animate() {
str.length > 0 ? el.innerHTML += str.shift() : clearTimeout(running); 
var running = setTimeout(animate, 90);
})();


</script>
</html>