<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>   
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
<title>Services</title>

</head>
<style>
    *{
    font-family: 'Roboto', sans-serif;
  }
     
.nav-link{
    color: black;
  }
  .navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}
.extra-div
{
 background-color: #fff;
 border: medium none;
 border-radius: 30px;
 padding:50px!important;
 transition: 0.3s;
 box-shadow: 0 0 25px 0 rgb(0, 0, 0,0.3);
 margin-top: 30px;
 }
 .extra-div:hover{
     background-color:#BC58BE;
 }
  #str {
   padding: 10px;
   font-family: sans-serif;
   font-size: 40px;
   color: black;
   font-weight: bold;
   
}
p span {
/*   background-color: orange; */
  opacity: 0;
  display: inline-block;
  vertical-align: top;
  line-height: 300px;
/*   padding-top: 150px; */
  animation: zips 1s cubic-bezier(0.45, 0.05, 0.42, 0.96);
  animation-fill-mode:forwards;
  -webkit-animation-fill-mode: forwards;
}

p span:nth-child(1) {
/*   background: #ff0000; */
  animation-delay: 0s;
}

p span:nth-child(2) {
/*   background: #ff0000; */
  animation-delay: .2s;
}

p span:nth-child(3) {
/*   background: #ff0000; */
  animation-delay: .3s;
/*   padding-top: 200px; */
}

p span:last-child {
  display: inline;
  animation-delay: .3s;
  line-height: 400px;
}


@keyframes zips {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.3;
  }
  85% {
    opacity: 1;
  }
  100% {
    line-height: 25px;
    opacity: 1;
  }
}

@media screen and ( max-width: 1024px ) {
img.responsive { width: 350px; }
}

@media screen and ( min-width: 600px ) {
img.responsive { width: 600px; }
}
img.responsive { height: auto; }

@media screen and ( max-width: 1024px ) {
img.mainresponsive{ width: 370px; }
}

@media screen and ( min-width: 600px ) {
img.mainresponsive { width: 1550px; }
}
img.mainresponsive { height: auto; }


</style>
</body>
{{> nav}}


<div class="container-fluid py-5">
  {{> headertop}}
            <div class="sec-title-style1 text-center max-width">
                <div class="title txt-res" style="font-size: 50px;">WHAT WE OFFER</div>
                <div class="text"><div class="decor-left"><span></span></div><p>Services</p><div class="decor-right"><span></span></div></div>
                
            </div>
</div>
<div class="container" style="">
    <div class="row ">
        <div class="col-md-6 col-12 mt-5" style="text-align: center;">
            <div class="container">
           <div id="str" style="font-family: 'Roboto', sans-serif;"></div>
            <p>
  <span>
  Letting the work speak for itself isn’t a cliche. It’s a testament to the passion and talent behind everything we do. It means we stand behind our work with research and experience from actual problems we’ve defined, measured, and solved. Therefore, no decision, from strategy and development to design and user experience, is made lightly, and you’ll always see it in the work.Explore how we can push what’s possible together.
  </span>
</p>
        </div>
        </div>
         <div class="col-md-6 col-12 ">
           <img class="responsive" src="https://fuertedevelopers.com/assets/img/projects/digitalmarketingg.gif">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-around py-5">
        <div class="col-md-4 extra-div">
            <a href="#">
          <img src="https://img.icons8.com/nolan/64/mobile-order.png" class="img-responsive center-block d-block mx-auto"/>
        </a>
        <h4 class="pt-3" style="text-align: center;">WEB & Mobile</h4>
            <p style="text-align: center;">Get a professional website developed to attract global Customers. Convert Trafic to Sales. Custom PHP Portal, CMS (WP) Website, E-commerce, Online Shopping Portal.</p>
        </div>
        <div class="col-md-4 extra-div ">
            <a href="#">
          <img src="https://img.icons8.com/nolan/64/omnichannel.png" class="img-responsive center-block d-block mx-auto"/>
        </a>
        <h4 class="pt-3" style="text-align: center;">Digital Marketing</h4>
            <p style="text-align: center;">We offers premium digital advertising for brands that want their digital presence to be known on various platforms. We keep a close eye on all the different aspects of your campaign and help you advertise your brand.</p>
        </div>
    </div>
    <div class="row justify-content-around ">
        <div class="col-md-4 extra-div">
            <a href="#">
          <img src="https://img.icons8.com/nolan/64/courage-symbol.png" class="img-responsive center-block d-block mx-auto"/>
        </a>
        <h4 class="pt-3" style="text-align: center;">Graphic Designing</h4>
            <p style="text-align: center;">Creative and Latest Fashioner Designing to Logo, Stationary, Product Box, PanaFlax, Web Banner. Design for Digital Screen, Offset Printing, Screen Printing and Digital Printing.</p>
        </div>
        <div class="col-md-4 extra-div">
            <a href="#">
          <img src="https://img.icons8.com/nolan/64/camera.png" class="img-responsive center-block d-block mx-auto"/>
        </a>
        <h4 class="pt-3" style="text-align: center;">Product Photography</h4>
            <p style="text-align: center;">We take our photography seriously! Photography is an art and with the advent of the digital world, the scope is larger than ever. Whether you are looking for corporate photography services or other photography services.</p>
        </div>
    </div>
    <div class="row justify-content-around ">
        <div class="col-md-4 extra-div">
            <a href="#">
          <img src="https://img.icons8.com/nolan/64/server.png" class="img-responsive center-block d-block mx-auto"/>
        </a>
        <h4 class="pt-3" style="text-align: center;">Domain And Hosting</h4>
            <p style="text-align: center;">We provider of top web hosting, offering solid performance, extreme security with full support. Along with our affordable shared hosting, VPS, and dedicated server and we also offer domain registration at a low price.</p>
        </div>
        <div class="col-md-4 extra-div mb-5">
            <a href="#">
          <img src="https://img.icons8.com/nolan/64/book.png" class="img-responsive center-block d-block mx-auto"/>
        </a>
        <h4 class="pt-3" style="text-align: center;">Content Creation</h4>
            <p style="text-align: center;">Content creation is the lifeblood of any digital venture. Make content creation easy and attractive with us creatively gifted ingenious team. Captivate your audience with some of the most eye-catching and delightfully origina</p>
        </div>
    </div>
</div>
{{> footer}}

</body>
<script>
  var string = "CODEBIRDS MISSION";
var str = string.split("");
var el = document.getElementById('str');
(function animate() {
str.length > 0 ? el.innerHTML += str.shift() : clearTimeout(running); 
var running = setTimeout(animate, 90);
})();


</script>
</html>